:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --color-of-efect: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-bg-color: #2f303a;
  --white: #ffffff;
  --black: #000000;
  --social-network-icon: #afb1b8;
  --label: rgba(47, 48, 58, 0.8);
  --project-overlay: rgba(33, 150, 243, 0.9);
  --backdrop: rgba(0, 0, 0, 0.2);
  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
