.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__flex {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.page-header__nav-box {
  display: flex;
  align-items: center;
}
